{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

<div class="container " style="min-height: 500px">
    <div class="row">
        <div class="col-md-9 at-edit">
            <form action="" method="post">{% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        发布新帖子
                    </div>
                    <div class="panel-body">
                        {{ form.title }}
                    </div>
                    <div class="panel-body" >
                        {{ form.content|safe }}
                    </div>
                    <div class="panel-body">
                        {{ form.categories }}
                    </div>
                </div>
            <button type="submit"  class="btn btn-primary">发布</button>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
