{% extends "base.html" %}
{% load paginator_tags %}
{% load staticfiles %}
{% load myfilters %}
{% block content %}

<div id="main">
    <ol class="breadcrumb">
    <li>
        <a href="{% url 'forum:index' %}">4am</a>    </li>
    <li>
        <a href="{% url 'forum:category' topic.categories_id %}">{{ topic.categories }}</a>
    </li>
</ol>
    <div class="t" style="margin-bottom: 0;border-bottom: 0">
        <table cellspacing="0" cellpadding="0" width="100%" align="center">
             <tbody>
              <tr>
               <td class="h"> --&gt; <b>本頁主題:</b>{{ topic.title }}
                    {% if user.is_authenticated %}
                    <a class="fr a2 fn" href="{% url 'forum:create' %}">发布新主题</a>
                    {% else %}
                        <span class="pull-right">需要登录才能发新帖子</span>
                    {% endif %}
               </td>
               <td class="h" style="text-align:right;"></td>

              </tr>
             </tbody>
        </table>
    </div>
    <div class="t t2" style="border-top: 0">
        <table cellspacing="0" cellpadding="0" width="100%" align="center">
            <tbody>
                <tr class="tr1 do_not_catch">
                    <!--作者区域--->
                    <td width="20%" rowspan="2" class="r_two">
                        <div class="panel" style="margin-left: 10px">
                            <div class="panel-heading panel-default">
                               <a href="{{ topic.author.get_absolute_url }}" style="font-size: 25px">{{ topic.author }}</a>
                            </div>
                            <div class="panel-body">
                                <img src="{{ topic.author.avatar.url }}" style="width: 120px;margin-left: 50px">
                            </div>
                            <div class="panel-body">
                                {{ topic.author.signature }}
                            </div>
                        </div>
                    </td>
                    <!--正文区域-->
                    <td height="100%" valign="top" style="padding: 5px 15px 0 15px;border: 0;width: 80%;overflow: hidden">
                        <div class="panel">
                            <div class="panel-heading panel-default" style="font-size: 20px">
                                <strong>{{ topic.title }}</strong>
                                <time class="submit-date pull-right" style="margin-left: 10px">{{ topic.create_date }}&nbsp;&nbsp;&nbsp;</time>
                            </div>
                            <div class="panel-body" style="min-height: 210px">
                                <h3>{{ topic.content|custom_markdown }}</h3>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--评论区域-->
    <div class="t t2">
        <table cellspacing="0" cellpadding="0" width="100%" align="center">
            {% for comment in comment_list %}
            <tr class="tr3 tr1">
                <th width="10%"  class="r_two">
                    <img src="{{ comment.name.avatar.url }}" style="width: 96px; height: 96px;">
                </th>
                <th>
                    <div class="panel" style="min-height: 150px">
                         <div class="panel-heading panel-default">
                            <a href="{{ comment.name.get_absolute_url }}">{{ comment.name }}</a>
                             <span class="pull-right">{{ forloop.counter }} 楼</span>
                             <time class="submit-date pull-right" style="margin-left: 10px">{{ comment.created_time }}&nbsp;&nbsp;&nbsp;</time>
                        </div>
                        <div class="panel-body">{{ comment.text|custom_markdown }}</div>
                    </div>
                    {{ comment.name.signature }}
                </th>
            </tr>
            {% empty %}
            <tr>暂无评论</tr>
            {% endfor %}
        </table>
    {% paginator %}
    </div>
<!--回复区域-->
<form action="{% url 'comments:post_comment' topic_id=topic.id %}" method="post" class="comment-form">    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if user.is_active %}
    <div class="t">
        <table cellpadding="0" cellspacing="0" align="center" width="90%">
            <tr>
                <td class="h" colspan="2"><b>回帖</b></td>
            </tr>
            <tr></tr>
            <tr>
                <td width="20%" bgcolor="#F9F9EC" style="padding: 7px">

                </td>

                <td width="80%" bgcolor="#F9F9EC" style="padding: 7px">
                    <div class="control-group">
                        <div class="controls" style="width: 500px">
                            <label for="{{ form.text.id_for_label }}" >评论：</label>
                            {{ form.text }}
                        </div>
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary" style="margin-left: 450px">发表</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
        {% endif %}
    {% else %}
    <div class="t">
        <table cellpadding="0" cellspacing="0" align="center" width="90%">
            <tr>
                <td class="h" colspan="2"><b>回帖</b>
                    您尚未登录，请先登录才能评论。
            </td>
            </tr>
        </table>
    </div>
    {% endif %}
</form>



{% endblock %}