{% extends "base.html" %}
{% load paginator_tags %}
{% block title %}
<title>4am</title>
{% endblock %}

{% block css %}
{% load static %}

{% endblock %}
{% block content %}

<!--板块分类-->
<ol class="breadcrumb">
    <li>
        <a href="{% url 'forum:index' %}">首页</a>
    </li>
    {% for category in category_list %}
    <li>
        <a href="{% url 'forum:category' category.id %}">{{ category.category_name }}</a>
    </li>
    {% endfor %}
</ol>

<!--主题板快-->
<div id="main" style="min-height: 400px">
    <div class="t" style="margin: 3px auto">
        <table cellspacing="0" cellpadding="0" width="100%" id="ajaxtable">
            <tbody>
                <tr>
                    <th class="h" colspan="5" style="width: 100%">
                        <a href="#">主板块</a>
                        {% if user.is_authenticated %}
                        <a class="fr a2 fn" href="{% url 'forum:create' %}">发布新主题</a>
                        {% else %}
                            <span class="pull-right">需要登录才能发新帖子</span>
                        {% endif %}
                    </th>
                </tr>
            </tbody>
            <tbody style="table-layout: fixed">
                <tr class="tr2 tac">
                    <td>作者</td>
                    <td width="70%">主题</td>
                    <td width="８%">发帖时间</td>
                    <td>点击量</td>
                    <td>板块</td>
                </tr>
                {% for topic in topic_list %}
                <tr class="tr3 t_one tac {{ topic.id }}">
                    <td>
                      <a href="{{ topic.author.get_absolute_url }}">{{ topic.author }}</a>
                    </td>
                    <td class="tal" style="padding-left: 8px">
                        <a href="{% url 'forum:detail' topic.id %}">{{ topic.title }}</a>
                    </td>
                    <td >
                        <h5>{{ topic.create_date }}</h5>
                    </td>
                    <td>
                        <h4>{{ topic.views }}</h4>
                    </td>
                    <td>
                        <h5>{{ topic.categories }}</h5>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <div class="" style="margin-left: 550px">
            {% paginator %}
    </div>
    </div>
</div>

{% endblock %}


